<div class="m-3">
    <tabset>
      <tab heading="Buscar" id="tab1">
          <div class="row" style="height:calc(100vh - 145px);width: 100%;">
              <div class="col-12 my-auto">
                <p class="my-5">Buscar información sobre el tipo de licencia que utiliza un producto de sofware y mas ...</p>
                <div class="row">
                    <div class="col-12">
                        <form>
                            <input type="text" class="form-control">
                            <div class="text-center mt-3">
                                <button class="btn btn-primary">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
          </div>
      </tab>
      <tab heading="Catalogo" >
          <div class="row mt-3">
              <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of apps">
                        <img [src]="item.img" alt="" width="50px">
                        <a [routerLink]="['/home/aplicacion',item.id]">{{item.nombre}}</a>
                    </li>
                  </ul>
              </div>
          </div>
      </tab>
      <tab heading="Licencias" [active]="true">
          <div class="row mt-3">
              <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of licencias">
                        <a [routerLink]="['/home/licencia',item.id]">{{item.nombre}}</a>
                    </li>
                  </ul>
              </div>
          </div>
      </tab>
    </tabset>
  </div>